In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [51]:
df1 = pd.read_csv('./data/test.csv',index_col=0)

In [52]:
df2 = pd.read_csv('./data/train.csv',index_col=0)

In [53]:
df = pd.concat([df1,df2])

In [54]:
df.set_index('id',inplace=True)

In [55]:
df.reset_index('id',inplace=True)

In [56]:
df = df.drop('id',axis=1)

In [57]:
df.dropna(inplace=True)

In [58]:
df

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,4,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,2,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
129876,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
129877,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
129878,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
129879,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [59]:
df.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [62]:
X = df.iloc[ : , 0: -1 ]

In [63]:
y = df['satisfaction']

In [66]:
X

array(['satisfied', 'neutral or dissatisfied'], dtype=object)

In [92]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer

In [71]:
encoder = LabelEncoder()

In [74]:
sorted(X['Gender'].unique())

['Female', 'Male']

In [76]:
X['Gender'] = encoder.fit_transform(X['Gender'])

In [79]:
sorted(X['Customer Type'].unique())

['Loyal Customer', 'disloyal Customer']

In [80]:
X['Customer Type'] = encoder.fit_transform(X['Customer Type'])

In [83]:
sorted(X['Type of Travel'].unique())

['Business travel', 'Personal Travel']

In [85]:
X['Type of Travel'] = encoder.fit_transform(X['Type of Travel'])

In [88]:
sorted(X['Class'].unique())

['Business', 'Eco', 'Eco Plus']

In [93]:
ct = ColumnTransformer([ ('encoder', OneHotEncoder(),[4]) ] , remainder = 'passthrough')

In [94]:
X = ct.fit_transform( X )

In [95]:
X

array([[ 0.,  1.,  0., ...,  5., 50., 44.],
       [ 1.,  0.,  0., ...,  5.,  0.,  0.],
       [ 0.,  1.,  0., ...,  2.,  0.,  0.],
       ...,
       [ 1.,  0.,  0., ...,  4.,  7., 14.],
       [ 0.,  1.,  0., ...,  1.,  0.,  0.],
       [ 1.,  0.,  0., ...,  1.,  0.,  0.]])

In [100]:
sorted(y.unique())

['neutral or dissatisfied', 'satisfied']

In [101]:
y = encoder.fit_transform(y)

In [102]:
y

array([1, 1, 0, ..., 0, 0, 0])

In [103]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [104]:
X_scaler = MinMaxScaler()

In [105]:
X = X_scaler.fit_transform(X)

In [106]:
X

array([[0.        , 1.        , 0.        , ..., 1.        , 0.03140704,
        0.02777778],
       [1.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.4       , 0.        ,
        0.        ],
       ...,
       [1.        , 0.        , 0.        , ..., 0.8       , 0.00439698,
        0.00883838],
       [0.        , 1.        , 0.        , ..., 0.2       , 0.        ,
        0.        ],
       [1.        , 0.        , 0.        , ..., 0.2       , 0.        ,
        0.        ]])

In [109]:
from sklearn.model_selection import train_test_split